@import url('https://fonts.googleapis.com/css?family=Montserrat');

.excel-details {
	height: 14vh;
	width: 60vw;
	background-color: #00000000;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.4vw;
	line-height: 4.5vh;
	margin: 16vh auto 2vh auto;
	overflow-wrap: break-word;
}

.about-text {
	text-align: center;
}

/* mobile devices */

@media only screen and (max-width: 480px) {
	.excel-details {
		font-size: 3.5vw;
		line-height: 2.6vh;
		height: 19vh;
		width: 80vw;
		margin-top: 19vh;
	}
}