.excel-details {
	height: 12vh;
	width: 100%;
	background-color: #00000000;
	font-size: 1.4vw;
	line-height: 2vh;
	padding-bottom: 1.4em;
	margin: auto auto;
	overflow-wrap: break-word;
}

.about-text {
    text-align: center;
}

/* mobile devices */

@media only screen and (max-width: 480px) {
	.excel-details {
		font-size: 3vw;
		line-height: 1.2vh;
		height: 10vh;
		padding-bottom: 2vh; 
	}
}