.header {
    display: flex;
	align-content: space-between;
	justify-content: space-between;
	padding: 4vh 2vh 0vh 2vh;
}
	/* Left Header portion */

.header-left {
    height: 10vh;
    width: 14vw;
	background-color: white;
	display: flex;
}

.mec-logo{
	width:20%;
	height: 100%;
	background-color: white;
}

.mec{
	width: 100%;
	height: 100%;
	background-color: #1A1A1A;
	font-size: 19px;
	padding-left: 1vh;
}

	/* Center Header portion */

.header-center {
	background-color: #1A1A1A;
	width: 50vw;
	height: 25vh;
}

.header-title {
	margin: 3vh auto;
	background-color: #1A1A1A;
	height: 15vh;
	width: 15vw;
	display: flex;
}

.excel-logo{
	width:40%;
	height: 100%;
	background-color: white;
}

.excel{
	width:60%;
	height:100%;
	background-color: #1A1A1A;
	font-size: 2.8rem;
	padding-left: 1vh;
}
	/*Right Header portion */

.header-right {
    height: 10vh;
    width: 14vw;
	background-color: #1A1A1A;
	display:flex;
}

.excel-legacy{
	font-size: 1.4rem;
	width:50%;
	height:100%;
}

.legacy-logo{
	width:50%;
	height:100%;
	background-color: white;
}