.header {
    display: flex;
	align-content: space-between;
	justify-content: space-between;
	margin: 1vh;
}
	/* Left Header portion */

.header-left {
    height: 10vh;
    width: 14vw;
	background-color: white;
	display: flex;
}

.mec-logo{
	width:50%;
	height: 100%;
	background-color: white;
}

.mec{
	width:50%;
	height:100%;
	background-color: black;
	font-size:19px;
}

	/* Center Header portion */

.header-center {
	background-color: black;
	width: 50vw;
	height: 25vh;
}

.header-title {
	margin: 3vh auto;
	background-color: black;
	height: 15vh;
	width: 15vw;
	display: flex;
}

.excel-logo{
	width:40%;
	height: 100%;
	background-color: white;
}

.excel{
	width:60%;
	height:100%;
	background-color: black;
	font-size: 50px;
}
	/*Right Header portion */

.header-right {
    height: 10vh;
    width: 14vw;
	background-color: black;
	display:flex;
}

.excel-legacy{
	font-size: 25px;
	width:50%;
	height:100%;
}

.legacy-logo{
	width:50%;
	height:100%;
	background-color: white;
}