.coming-soon{
    color:black;
    width: 60%;
    margin: auto;
    height: 30%;;
    /* background-color: white; */
    border-radius: 25px;
    display:grid;
    grid-template-columns: 30% 70%;
}

.comingSoon{
    font-size:3vw;
    color: white;
    /* border: solid 10px black; */
    font-family: 'Futura';
    display: flex;
    justify-content: center;
    align-items: center;
}
