.coming-soon{
    color:black;
    width: 60%;
    margin: auto;
    background-color: white;
    border-radius: 25px;
    display:flex;
    justify-content: center;
    align-items: center;
  
}

.comingSoon{
    font-size:3vw;
    color: white;
    border: solid 10px black;
    font-family: 'Futura';
}
