.event-card{
    position: relative;
    height: 7vw;
    width: 35vw;
    border-radius: 25px;
    color: white;
    z-index: 0;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s;
    display: flex;
    padding-bottom: 4vh;
    padding: 1.4em 0em;
}


.event{
    width:70%;
    display: grid;
    grid-template-rows: 30% 70%;
}

.event-name{
    font-size: 1.7vw;
    /* background-color: black; */
}

.event-description{
    font-size: 1.5vw;
}

/* logos */
.logoibeto {
    max-width: 5vw;
    padding-right: 1vw;
}