.event-card{
    position: relative;
    height: 6vw;
    border-radius: 5px;
    color: black;
    z-index: 0;
    display: flex;
    padding: 1.4em;
    background-color: #ffffffee;
}



.event{
    width:80%;
    display: grid;
    grid-template-rows: 30% 60%;
}

.event-name{
    font-size: 1.7vw;
}

.event-description{
    font-size: 1.5vw;
}

/* logos */

.logos {
    max-width: 6vw;
    padding-right: 1vw;
}

/* mobiles devices */

@media only screen and (max-width: 480px) {
    .event-card {
        height: 10vw;
        margin: 1vh 0vh;
    }

    .event {
        width: 100%;
    }

    .event-name{
        font-size: 3.2vw;
    }
    
    .event-description{
        font-size: 3vw;
    }

    .logos {
        max-width: 13vw;
        padding-right: 2vw;
    }
}